/*general start*/
body,p,blockquote,figure,hr,h1,h2,h3,h4,h5,h6,ul,menu,dir,ol,dl,dd,fieldset,input[type=radio],input[type=checkbox],input[type=range],pre,xmp,plaintext,listing {
    margin: 0;
}

input[type=search],input[type=button],input[type=submit],input[type=reset]{
	 -webkit-appearance: none; 
}

cite,var,address,em {
    font-style: normal;
}

strong {
    font-weight: 400;
}

a:-webkit-any-link {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,iframe {
    border: 0;
}

ol,ul {
    list-style: none;
}

li:hover{
	cursor: pointer;
}

input,textarea,select,button {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
}

select,button,input {
    color: inherit;
}

html {
    -webkit-text-size-adjust: none;
}

html {
    font-size: 100px;
}

body {
    font: 14px/1.5 Arial, "Microsoft Yahei";  /**字体大小 * 行边距 = 行高**/
    min-width: 320px;
    max-width: 480px;
    margin: 0 auto !important;
    color: #333;
    position: relative;
    overflow-x: hidden;
	background: #fff;
}

a{
    color: #333;
}
img {
    max-width: 100%;
    font-style: italic;
    border: 0;
}
* {
  box-sizing: border-box;
}


@media only all and (max-width: 640px) {
    /* styles for iPhone/Android landscape (and really narrow browser windows) */
    body,input,textarea{
        font-size: 14px;
    }
}
em {
    font-style: normal;
}
.clearfix{
    zoom:1;
}
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.hide {
  display: none;
}
.right {
  float: right;
}
.left {
  float: left;
}
.lz-container {
  position: absolute;
  width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.lz-scroll, 
.lz-panel {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.main-cont {
  background: url(../img/yg_backimg.png);
}
#page1 {

}
#page1 .yg-name {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -.91rem;
  color: #fff;
  text-align: center;
}
#page1 .yg-name .yg-logo {
  margin-bottom: .08rem;
}
#page1 .yg-name .yg-name-ch {
  font-size: .18rem;
}
#page1 .yg-name .yg-name-en {
  padding-bottom: .05rem;
  font-size: .11rem;
}
#page1 .yg-name .yg-name-en span {
  margin-right: .13rem;
}
#page1 .yg-name .aline {
  width: 100%;
  height: 3px;
  background-color: #e1c632;
  text-align: center;
  font-size: 0;
}
#page1 .yg-name .colorline {
    display: inline-block;
    padding: 0;
    width: 60%;
    height: 3px;
    background-color: #fff;
}
#page1 .yg-name .ytext {
  height: .24rem;
  margin-top: .3rem;
  overflow: hidden;
}
#page1 .ytext .fonts {
  display: inline-block;
  width: .26rem;
  height: .24rem;
  overflow: hidden;
  background: url(../img/yg_screen1_type.png) no-repeat;
  background-size: cover;
}
#page1 .ytext .zhuan {
  background-position: 8px -0px;
}
#page1 .ytext .zhu {
  background-position: -20px -0px;
}
#page1 .ytext .fu {
  background-position: -48px -0px;
}
#page1 .ytext .wu {
  background-position: -78px -0px;
}
#page1 .ytext .xiao {
  background-position: -104px -0px;
}
#page1 .ytext .wei {
  background-position: -130px -0px;
}
#page1 .ytext .qi {
  background-position: -156px -0px;
}
#page1 .ytext .ye {
  background-position: -184px -0px;
}
#page2 {
}
#page2 .yg-develop {
  position: absolute;
  width: 100%;
  color: #fff;
}
#page2 .yg-develop .develop-xk {
  width: 100%;
  padding: .3rem 0 0 .3rem;
}
#page2 .xk-text {
  position: absolute;
  top: .68rem;
  left: .85rem;
  display: inline-block;
}
#page2 .xk-text .xk-chinese {
  color: #e1c632;
  font-size: 1.2em;
}
#page2 .xk-text .xk-english {
  font-size: .65em;
}
#page2 .yg-develop .yg-story {
  position: absolute;
  top: .9rem;
  width: 100%;
  padding-top: .5rem;
  background: url(../img/yg_screen2_line.png) no-repeat center center;
}
#page2 .story .circle {
  margin: 0 auto;
  background: #e1c632;
}
#page2 .circle.smaller {
  width: .15rem;
  height: .15rem;
  border-radius: 50%;
}
#page2 .circle.small {
  width: .20rem;
  height: .20rem;
  border-radius: 50%;
}
#page2 .circle.big {
  width: .25rem;
  height: .25rem;
  border-radius: 50%;
}
#page2 .circle.biger {
  width: .30rem;
  height: .30rem;
  border-radius: 50%;
}
#page2 .story-one {
  height: .75rem;
}
#page2 .story-two {
  height: .80rem;
}
#page2 .story-three {
  height: 1.35rem;
}
#page2 .story-one .story-text {
    position: relative;
    top: -.15rem;
    font-size: .8em;
}
#page2 .story-two .story-text {
    position: relative;
    top: -.20rem;
    float: left;
    font-size: .9em;
}
#page2 .story-three .story-text {
    position: relative;
    top: -.25rem;
    font-size: 1em;
}
#page2 .yg-develop .story-time {
  font-size: 1.1em;
  color: #e1c632;
}
.future {
  font-size: 1.4em;
  color: #e1c632;
  text-align: center;
}
#page3 {
}
#page4 {
}
#page5 {
}
#page6 {
}
#page7 {
}
@media (device-height:480px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone4/4s */
  #page2 .xk-text {
    position: absolute;
    top: .60rem;
    left: .65rem;
  }
}
@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone5 */ 
  #page2 .xk-text {
    position: absolute;
    top: .60rem;
    left: .65rem;
  }
}
@media (device-height:667px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone6 */

}
@media (device-height:736px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone6 Plus */
  #page2 .xk-text {
    position: absolute;
    top: .75rem;
    left: 1rem;
    
  }
}
