/*general start*/
body,p,blockquote,figure,hr,h1,h2,h3,h4,h5,h6,ul,menu,dir,ol,dl,dd,fieldset,input[type=radio],input[type=checkbox],input[type=range],pre,xmp,plaintext,listing {
    margin: 0;
}

input[type=search],input[type=button],input[type=submit],input[type=reset]{
   -webkit-appearance: none; 
}

cite,var,address,em {
    font-style: normal;
}

strong {
    font-weight: 400;
}

a:-webkit-any-link {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,iframe {
    border: 0;
}

ol,ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li:hover{
  cursor: pointer;
}

input,textarea,select,button {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
}

select,button,input {
    color: inherit;
}

html {
    -webkit-text-size-adjust: none;
}

html {
    font-size: 100px;
}

body {
    font: 14px/1.5 Arial, "Microsoft Yahei";  /**字体大小 * 行边距 = 行高**/
    min-width: 320px;
    max-width: 480px;
    margin: 0 auto !important;
    color: #333;
    position: relative;
    overflow-x: hidden;
    background: #fff;
}

a{
    color: #333;
}
img {
    max-width: 100%;
    font-style: italic;
    border: 0;
}
* {
  box-sizing: border-box;
}


em {
    font-style: normal;
}
.clearfix{
    zoom:1;
}
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.hide {
  display: none;
}
.right {
  float: right;
}
.left {
  float: left;
}
.lz-container {
  position: absolute;
  width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.lz-scroll, 
.lz-panel {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.main-cont {
  background: url(../img/yg_backimg.png);
  background-size: contain;
}
.yg-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.yg-bottom .arrow-bt {
  display: inline-block;
  width: .22rem;
  height: .22rem;
  border-left: 2px solid #dcb307;
  border-top: 2px solid #dcb307;
  transform: rotate(45deg);
}
#page1 {

}
#page1 .yg-name {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -.91rem;
  color: #fff;
  text-align: center;
}
#page1 .yg-name .yg-logo {
  margin-bottom: .08rem;
}
#page1 .yg-name .yg-name-ch {
  font-size: .18rem;
}
#page1 .yg-name .yg-name-en {
  padding-bottom: .05rem;
  font-size: .11rem;
}
#page1 .yg-name .yg-name-en span {
  margin-right: .13rem;
}
#page1 .yg-name .aline {
  width: 100%;
  height: 3px;
  background-color: #e1c632;
  text-align: center;
  font-size: 0;
}
#page1 .yg-name .colorline {
    display: inline-block;
    padding: 0;
    width: 60%;
    height: 3px;
    background-color: #fff;
}
#page1 .yg-name .ytext {
  height: .24rem;
  margin-top: .3rem;
  overflow: hidden;
}
#page1 .ytext .fonts {
  display: inline-block;
  width: .26rem;
  height: .24rem;
  overflow: hidden;
  background: url(../img/yg_screen1_type.png) no-repeat;
  background-size: cover;
}
#page1 .ytext .zhuan {
  background-position: 8px -0px;
}
#page1 .ytext .zhu {
  background-position: -20px -0px;
}
#page1 .ytext .fu {
  background-position: -48px -0px;
}
#page1 .ytext .wu {
  background-position: -78px -0px;
}
#page1 .ytext .xiao {
  background-position: -104px -0px;
}
#page1 .ytext .wei {
  background-position: -130px -0px;
}
#page1 .ytext .qi {
  background-position: -156px -0px;
}
#page1 .ytext .ye {
  background-position: -184px -0px;
}
#page2 .yg-develop {
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
}
#page2 .yg-develop .develop-xk {
  width: 100%;
  padding: .2rem 0 0 .3rem;
  position: absolute;
}
#page2 .yg-develop .develop-xk img {
  width: 1.1rem;
}
#page2 .xk-text {
  position: absolute;
  top: .53rem;
  left: .65rem;
  display: inline-block;
}
#page2 .xk-text .xk-ch {
  color: #e1c632;
  font-size: .19rem;
}
#page2 .xk-text .xk-en {
  font-size: .1rem;
}
#page2 .yg-develop .yg-story {
  position: absolute;
  top: .9rem;
  width: 100%;
  padding-top: .3rem;
  background: url(../img/yg_screen2_line.png) no-repeat center 0;
  background-size: 1px 76%;
}
#page2 .story .circle {
  margin: 0 auto;
  background: #e1c632;
}
#page2 .circle.smaller {
  width: .13rem;
  height: .13rem;
  border-radius: 50%;
}
#page2 .circle.small {
  width: .16rem;
  height: .16rem;
  border-radius: 50%;
}
#page2 .circle.big {
  width: .18rem;
  height: .18rem;
  border-radius: 50%;
}
#page2 .circle.biger {
  width: .2rem;
  height: .2rem;
  border-radius: 50%;
}
#page2 .yg-develop .story-time {
  color: #e1c632;
  line-height: .15rem;
}
#page2 .story-one {
  position: relative;
  height: .6rem;
  top: 0;
}
#page2 .story-two {
  position: relative;
  height: .95rem;
}
#page2 .story-three {
  position: relative;
  height: 1.6rem;
}
#page2 .story-one .story-text {
    position: absolute;
    left: 53%;
    top: 0;
    font-size: .12rem;
}
#page2 .story-one .story-time {
  font-size: .11rem;
}
#page2 .story-two .story-text {
    position: absolute;
    top: 0;
    float: left;
    font-size: .14rem;
    text-align: right;
}
#page2 .story-two .story-time {
  font-size: .13rem;
}
#page2 .story-two .story-info {
  padding-top: .03rem;
  line-height: 1.2;
}
#page2 .story-three .story-text {
    position: absolute;
    top: 0;
    font-size: .16rem;
    left: 54%;
}
#page2 .story-three .story-info {
  line-height: 1.2;
}
#page2 .story-three .story-time {
    font-size: .18rem;
    line-height: 1;
}
#page2 .story-three .info-mask {
  line-height: .3rem;
}
#page2 .story-four {
    width: 100%;
    height: .2rem;
    overflow: hidden;
}
#page .story-info {
    padding-top: .02rem;
    line-height: .15rem;
}
#page2 .story-mask .zero,
#page2 .story-mask .more {
  font-size: .22rem;
}
#page2 .yg-future {
  padding-top: .02rem;
  font-size: .2rem;
  color: #e1c632;
  text-align: center;
}
#page2 .yg-process {
  text-align: center;
}
#page2 .yg-process > ul > li {
  font-size: .16rem;
  line-height: 1.2;
}
#page3 .shine-dot {
  position: relative;
  top: .15rem;
  width: .7rem;
  height: .7rem;
  overflow: hidden;
  text-align: -webkit-auto;
  margin: 0 auto;
}
#page3 .dot-1 {
  position: absolute;
  display: inline-block;
  width: .5rem;
  height: .5rem;
  top: .1rem;
  left: .1rem;
  background: #dcb307;
  border-radius: 50%;
}
#page3 .dot-2 {
  position: absolute;
  display: inline-block;
  width: .7rem;
  height: .7rem;
  opacity: .5;
  background: #dcb307;
  border-radius: 50%;
}
#page3 .dot-3 {
  position: absolute;
  display: inline-block;
  width: .7rem;
  height: .7rem;
  opacity: .2;
  background: #dcb307;
  border-radius: 50%;
}
#page3 .dot-text {
  position: relative;
  text-align: center;
  color: #fff;
  top: -.38rem;
}
#page3 .dot-text .dot-zh {
  display: block;
  font-size: .16rem;
  line-height: 1.2;
}
#page3 .dot-text .dot-en {
  display: block;
  font-size: .1rem;
}
#page3 .yg-text {
  text-align: center;
  color: #dcb307;
  font-size: .16rem;
  margin-top: -.1rem;
}
#page3 .yg-text .yg-strong {
  font-size: .2rem;
}
#page3 .yg-caption {
  margin-top: .2rem;
}
#page3 .caption {
  padding-top: .05rem;
  color: #fff;
  text-align: center;
  padding-bottom: .2rem;
}
#page3 .caption .cap-text {
  font-size: .16rem;
  color: #dcb307;
}
#page3 .caption .cap-text-en {
  font-size: .11rem;
}
#page3 .caption .cap-info-box {
  position: relative;
  margin-top: .1rem;
}
#page3 .caption .cap-arrpw-l,
#page3 .caption .cap-arrpw-r {
  position: absolute;
  top: .01rem;
  display: inline-block;
  width: .07rem;
  height: .1rem;
  background: url(../img/yg_screen3_arrow.png) no-repeat;
  background-size: contain;
  background-position: 0 50%;
}
#page3 .caption .cap-arrpw-l {
  left: 6%;
  transform: rotate(180deg);
}
#page3 .caption .cap-arrpw-r {
  right: 6%;
}
#page3 .caption .cap-info {
  display: block;
  font-size: .12rem;
  line-height: 1.3;
}
#page4 {
}
#page4 .yg-top {
  padding-top: .2rem;
  overflow: hidden;
  text-align: center;
}
#page4 .yg-top .design-l,
#page4 .yg-top .design-r {
  display: inline-block;
  width: 25%;
  height: .3rem;
  background: url(../img/yg_screen4_design.png) no-repeat 100% 50%;
  background-size: contain;
}
#page4 .yg-top .design-l {
  float: left;
  margin-left: 9%;
}
#page4 .yg-top .design-r {
  margin-right: 9%;
  float: right;
  transform: rotate(180deg);
}
#page4 .yg-top .title {
  display: inline-block;
}
#page4 .yg-top .title-zh {
  font-size: .18rem;
  color: #dcb307;
}
#page4 .yg-top .title-en {
  font-size: .1rem;
  color: #fff;
}
#page4 .yg-md {
  display: -webkit-box; 
  display: -webkit-flex; 
  display: -ms-flexbox; 
  display: flex;
  padding-top: .3rem;
  padding-left: .56rem;
  padding-right: .56rem;
  color: #dcb307;
  font-size: .16rem;
  overflow: hidden;
}
#page4 .yg-md .step-items {
  -webkit-box-flex: 1; 
  -webkit-flex: 1; 
  -ms-flex: 1; 
  flex: 1;
}
#page4 .yg-md .step-items-r {
  margin-top: .35rem;
}
#page4 .yg-md .step-line {
  position: relative;
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
#page4 .yg-md .step-lis {
  position: absolute;
  height: .1rem;
  background: url(../img/yg_screen4_shineline.png) no-repeat 50% 50%;
  background-size: contain;
}
#page4 .yg-md .step-lis:nth-child(1) {
  top: .3rem;
  width: 97%;
  transform: rotate(15deg);
}
#page4 .yg-md .step-lis:nth-child(2) {
  top: .9rem;
  width: 97%;
  transform: rotate(165deg);
}
#page4 .yg-md .step-lis:nth-child(3) {
  top: 1.4rem;
  width: 97%;
  transform: rotate(10deg);
}
#page4 .yg-md .step-item {
  display: inline-block;
}
#page4 .yg-md .step-item:nth-child(even) {
  margin-top: .25rem;
}
#page4 .yg-md .step-circle {
  display: inline-block;
  margin-bottom: .1rem;
  width: .45rem;
  height: .45rem;
  color: #fff;
  font-size: .2rem;
  text-align: center;
  line-height: .5rem;
  background: url(../img/yg_screen4_circle.png) no-repeat;
  background-size: contain; 
}
#page4 .yg-md .step-info {
  display: block;
  font-size: .16rem;
}
#page4 .yg-footer {
  margin-top: .6rem;
  text-align: center;
  color: #dcb307;
  font-size: .17rem;
}
#page4 .yg-footer .yg-f-design {
  
  margin-left: .5rem;
  margin-right: .5rem;
}
#page4 .yg-footer .yg-f-line {
  margin: 0 auto;
  width: 70%;
  height: .1rem;
  background: url(../img/yg_screen4_shineline.png) no-repeat 50% 50%;
  background-size: contain;
}
#page4 .yg-f-text > p {
  line-height: 1.8;
}
#page6 {
}
#page7 {
}
@media (device-height:480px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone4/4s */
  html {
    font-size: 70px;
  }
  #page2 .xk-text {
    position: absolute;
    top: .60rem;
    left: .65rem;
  }
}
@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone5 */ 
  #page2 .xk-text {
    position: absolute;
    top: .60rem;
    left: .65rem;
  }
}
@media (device-height:667px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone6 */

}
@media (device-height:736px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone6 Plus */
  #page2 .xk-text {
    position: absolute;
    top: .75rem;
    left: 1rem;
    
  }
}